body{
    font-family: 'Merriweather', serif;
}
.orange-highlight{
      color: orange;
      font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    

}
.half-width img{
    width: 100%;
    
    
    }
    section{
        height: 500px;
        padding-bottom: 100px;
        
    }
    .top-banner{
        background-image: url(/img/imgopa.png);
        background-size: 40%;
        background-position:bottom left;
        background-repeat: no-repeat;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(tomato rgb(61, 20, 4));
        background-color: orange;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-weight:bold;
    } 
    .link-button:hover{
        color:white;
        background-color: rgb(5, 110, 13);
    
    }  
    
    p{
        color: dimgray;
    }
    .my-destiny{
        background-image: url(/img/dreambg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
  #exp{
    margin: 07%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 40px;
  }
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 90%;
    background-color: white;
}
.experience-area{
    background-image: url(/img/experience.png);
    background-repeat: no-repeat;
    background-position:left;
}
#full-stack{
    border-left: 7px solid lightsalmon;
    
}
#baby-web{
    border-left: 7px solid lightblue;
}
.middle{
    text-align: center;
}
#extra-color{
    color:#1BD2D7;
}
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
}
.footer h3{
    margin-bottom: 25px;
margin-top: 20px;
font-weight: bolder;
font-size: 22px;
color:#FFBB24;
}
.icons .fa{
    position: relative;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    width: 35px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(209, 199, 199, 0.589);
    display:inline-block;
    font-size: 120%;
    line-height: 40%;
    text-align: center;
    
    transition: 0.6s;
    color:black
}
.icons .fa:hover{

    transform: translate(0, -10px);
    
}
.icons a:nth-child(1) i{
    color:#3B5999;
}
.icons a:nth-child(2) i{
    color:#CD201F;
}
.icons a:nth-child(3) i{
    color:#0077B5;
}
.icons a:nth-child(4) i{
    color:#55ACEE;
    
}
.icons a:nth-child(1) i:hover{
    background-color:#3B5999 ;
    color: white
}
.icons a:nth-child(2) i:hover{
    color:white;
    background-color:#CD201F ;
}
.icons a:nth-child(3) i:hover{
    color:white;
    background-color:#0077B5 ;
}
.icons a:nth-child(4) i:hover{
    color:white;
    background-color:#55ACEE ;
}
@media(max-width:700){
    .single-experience{
        box-shadow: 10px 10px 40px gray;
        border-radius: 10px;
        height: 100%;
        background-color: white;
    
    }
    #exp{
        margin: 07%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 25px;
      }
}



        
        
    